.review-section {
  background: url(../../../images/0ferarri.gif) no-repeat center center fixed;
  background-size: cover;
  height: 300px;
}

.star-rating {
  color: #f8b712;
}

.review {
  text-align: justify;
}

.review-img {
  margin: -50px;
}
